<div class="col-lg-10 col-lg-offset-1 centered">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
       

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for img in page.carousel.first %}
                <div class="item active">
                    <img src="{{ "/assets/carousel/" | prepend: site.baseurl }}{{ img }}" alt="">
                    <div class="carousel-caption">
                        <p>Vastness is bearable only through love, quasar rich in heavy atoms rich in mystery venture?</p>
                    </div>
                </div>
            {% endfor %}
            {% for img in page.carousel offset:1 %}
                <div class="item">
                    <img src="{{ "/assets/carousel/" | prepend: site.baseurl }}{{ img }}" alt="">
                    <div class="carousel-caption">
                        <p>Vastness is bearable only through love, quasar rich in heavy atoms rich in mystery venture?</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> <!--/Carousel -->
     <ol class="carousel-indicators">
            {% for img in page.carousel %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.index0 }}" 
                {% if forloop.index0 == 0 %}
                    class="active"
                {% endif %}>
                </li>
            {% endfor %}
        </ol>
</div>
