<div id="footerwrap">
    <div class="container">
    	<div class="footer-content col-xs-6 col-md-4">
    	<h4 class="title">Whats is Cosmos?</h4>
    	<ul>
    		<li>
    			<a href="#">Leaving Earth</a>
    		</li>
    		<li>
    			<a href="#">Sea of Tranquility</a>
    		</li>
    		<li>
    			<a href="#">Rings of Uranus</a>
    		</li>
    	</ul>
    	</div>
    	<div class="footer-content col-xs-6 col-md-4">
    		<h4 class="title">Where?</h4>
    		<p>7627 Round Trace, Deep Run<br />
				Michigan, US <br />
				(248) 403 1706<br />
				48907 6228</p>
    	</div>
    	<div class="footer-content col-xs-6 col-md-4">
    		<h4 class="title">Social</h4>
    		<div class="row">
			  <div class="moco-footer-social">
			    <a href="#" class="thumbnail content-left">
			      <img src="..." alt="...">F
			    </a>
			    <a href="#" class="thumbnail content-left">
			      <img src="..." alt="...">T
			    </a>
			    <a href="#" class="thumbnail content-left">
			      <img src="..." alt="...">G
			    </a>
			  </div>
			</div>
    	</div>
    </div>
    <div class="copyright">Copyright</div>
</div>
